// import "@fontsource/roboto";
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
* {
    padding: 0;
    margin: 0;
    font-family: "Roboto", sans-serif !important;
}
.header {
    height: 80px;
    background-color: #FFC20E;
    z-index: 10000;
    display: flex;
    align-items: center;
    overflow-y: hidden;
    .nav_overflow {
        display: none;
    }
    .menu {
        width: 100%;
        display: flex;
        justify-content: space-between;
        position: relative;
        .res_menu {
            display: none;
        }
        .logo {
            display: flex;
            align-items: center;
            justify-content: space-between;
            .log {
                svg {
                    height: 50.4900016784668px;
                    width: 136.68589782714844px;
                    left: 245px;
                    top: 16px;
                    border-radius: 0px;
                }
            }
            .province {
                display: flex;
                align-items: center;
                margin: 0px 30px;
                a {
                    display: block;
                    text-decoration: inline;
                    width: 125px;
                    height: 17px;
                    left: calc(50% - 125px/2 - 269.5px);
                    top: 32px;
                    margin: 0 5px;
                    font-style: normal;
                    font-weight: normal;
                    font-size: 14px;
                    display: flex;
                    line-height: 16px;
                    color: #262626;
                }
            }
        }
        .menyu {
            display: flex;
            align-items: center;
            .togle {
                display: none;
                cursor: pointer;
                padding: 2px;
            }
            ul {
                width: 100%;
                display: flex;
                margin: 0 !important;
                align-items: center;
                justify-content: space-between;
                list-style: none;
                li {
                    a {
                        width: 32px;
                        height: 14px;
                        text-decoration: none;
                        font-style: normal;
                        font-weight: normal;
                        font-size: 14px;
                        line-height: 100%;
                        color: #262626;
                        padding: 0px 0px 0px 31px;
                    }
                }
            }
            .korzinka {
                a {
                    width: 23px;
                    height: 23px;
                    text-decoration: none;
                    margin: 0px 25px 0px 40px !important;
                }
                .numberCase{
                    color: blue;
                    position: relative;
                    top: 8px;
                    left: 50px;
                    background-color: white;
                    width: 20px;
                    height: 20px;
                    border-radius: 100%;
                    

                    .innerNumber{
                        text-align: center;
                    }
                }
            }
        }
        .res_menu {
            display: none;

        }
    }
}

@media screen and (min-width:768px) and (max-width:1023px) {
    .header {
        .nav_overflow {
            display: none;
        }
        .menu {
            width: 100%;
            justify-content: space-between;

            .res_menu {
                display: none;
            }
            .logo {
                padding: 0;
                .province {
                    margin: 0px 10px;
                    a {
                        font-size: 13px;
                    }
                }
            }
            .menyu {
                ul {
                    padding: 0;
                    margin: 0 !important;
                    li {
                        padding: 0;
                        a {
                            padding: 0px 0px 0px 15px;
                            font-size: 13px;
                        }
                    }
                }
                .korzinka {
                    a {
                        svg {
                            font-size: 10px;
                            width: 18px;
                        }
                    }
                }
            }
        }
    }
}
@media screen and (max-width:767px) {
    .header {
        padding: 0 25px;
        overflow-x: hidden;
        .menu {
            .logo {
                .province {
                    display: none;
                }
            }
            .menyu {
                ul {
                    display: none;
                }
                .togle {
                    display: block;
                }
            }
            .res_menu {
                display: block;
                position: fixed;
                background-color: #222222;
                transform: translateX(105%);
                top: 0;
                right: 0;
                width: 80%;
                height: 100vh;
                transition: all 0.5s;
                z-index: 5000;
                ul {
                    display: block;
                    margin: 0 !important;
                    padding: 0 !important;
                    li {
                        position: relative;
                        align-items: center;
                        list-style: none;
                        border-bottom: 1px solid #2D2D2D;
                        padding: 0px 0px !important;
                        margin: 0 !important;
                        p {
                            line-height: 17px;
                            height: 60px;
                        }
                        a {
                            position: relative;
                            text-decoration: none;
                            width: 100%;
                            height: 60px;
                            color: #E2E2E2;
                            display: flex;
                            align-items: center;
                            padding: 0px 28px 0px 65px;
                            font-style: normal;
                            line-height: 17px;
                            font-weight: normal;
                            letter-spacing: 1px;
                            position: relative;
                            justify-content: space-between;
                            overflow: hidden;
                            span {
                                position: absolute;
                                left: 28px;
                            }
                            h4 {
                                svg {
                                    position: absolute;
                                    color: #555555;
                                    right: 10%;
                                }
                            }
                        }
                    }
                }
            }
        }
        .nav_overflow {
            display: block;
            position: fixed;
            top: 0%;
            right: 0%;
            left: 0%;
            bottom: 0%;
            content: '';
            background-color: rgba(0, 0, 0, 0.15);
            z-index: 2000;
            transform: translateX(105%);
        }
    }
}